# MongoDB Credentials
MONGO_USERNAME=insert_db_username_here
MONGO_PASSWORD=insert_db_password_here

# JWT Token Secret (Must be a 256-bit / 32-byte string minimum)
JWT_SECRET=insert_super_secret_jwt_key_here
JWT_EXPIRATION_MS=86400000

# Admin Setup
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD_HASH=insert_bcrypt_hash_here

# Mail Credentials
MAIL_USERNAME=insert_email_here
MAIL_PASSWORD=insert_app_password_here

# Server Settings
SERVER_PORT=8083
